/* CSS STRUCTURE TEMPLATE */
.selector {
    /* POSITIONING */
    position: absolute, relative, fixed, etc;
    z-index: 10;
    top: 0;
    right: 0;
    /* DISPLAY & BOX MODEL */
    display: block, flex, etc;
    overflow: visible, hidden, scroll, etc;
    box-sizing: border-box, etc;
    width: - - -;
    height: - - -;
    padding: 10px 10px;
    border: 0 solid color;
    margin: - - -;
    /* COLOR */
    background: - - -;
    color: - - -;
    /* TEXT */
    font-family: - - -;
    font-size: - - -;
    line-height: - - -;
    text-align: - - -;
    /* OTHER */
    cursor: - - -;
}
/* FIRST SLIDE /////////////////////////////////////////////////*/
body {
    image-rendering: url("../image/logo_sublight.svg");
}

.tool__format {
    width: 45px;
    height: 45px;
    border-radius: 4px;
    border: 1px solid $color-border-icon;
    margin-bottom: verticalGrid(3) - 45px;
    position: relative;
    margin-right: 10px;
}

/* bkg_1 1 */
.slide {
    position: absolute;
    width: 100%;
    height: 960px;
    left: 0px;
    top: 0px;
    background: url("../image/bkg_1\ 1.png");
    background-repeat: no-repeat;
}

.slide_img {
    width: 100%;
    background-repeat: no-repeat;
}
/* Rectangle 1 */
.rectangle {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 24px;

    background: rgba(0, 0, 0, 0.69);
}

/* logo_sublight */

.logo {
    position: absolute;
    width: 465px;
    height: 86px;
    left: 20px;
    top: 15px;
}
/* OUR services */

.service {
    position: absolute;
    width: 110px;
    height: 19px;
    left: 720px;
    top: 38px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* .topnav a.active {
    background-color: #04aa6d;
    color: white;
} */

/* OUR PRODUCTS */
.product {
    position: absolute;
    width: 119px;
    height: 19px;
    left: 885px;
    top: 38px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* about us */
.about {
    position: absolute;
    width: 77px;
    height: 19px;
    left: 1059px;
    top: 38px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* contact us */
.contact {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 1191px;
    top: 38px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* Our Mission */
.mission {
    position: absolute;

    height: 60px;
    left: 557px;
    top: 653px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 51px;
    line-height: 60px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
/* take you to the top */
.take {
    position: absolute;
    width: 829px;
    height: 93px;
    left: 305px;
    top: 713px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* elevator button */

.elevator {
    position: absolute;
    width: 65px;
    height: 64px;
    left: 687px;
    top: 828px;
}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* @keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    } */
/* } */

/* SECTION DES ICONES /////////////////////////////////////////////////////////////////*/

/* Rectangle 2 */

.rectangle2 {
    position: absolute;
    width: 100%;
    height: 711px;
    left: 0px;
    top: 960px;

    /* Sublight Engines/Gray */

    background: #383838;
    background-repeat: no-repeat;
}

/* separator */
.separator {
    /* Rectangle 4 */

    /* position: absolute; */
    left: 42.35%;
    right: 47.04%;
    top: 30%;
    /* bottom: -20.71%; */

    /* background: #ffffff; */
    /* transform: rotate(-45deg); */
    /* Line 1 */

    position: absolute;
    /* left: 0%; */
    /* right: 0%; */
    /* top: 50%; */
    bottom: 50%;
    color: #ffffff;

    /* border: 1px solid #ffffff; */
}

/* icon/design */

.design {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 180px;
    top: 1242px;
}

body {
    image-rendering: url("../image/design.svg");
}
/* we design */

.text_design {
    /* position: absolute; */
    /* width: 130px; */
    height: 29px;
    left: 240px;
    top: 1538px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
/* icon/build */

.build {
    position: absolute;
    width: 269px;
    height: 250px;
    left: 580px;
    top: 1255px;
}
body {
    image-rendering: url("../image/build.svg");
}

/* we build */

.text_build {
    /* position: absolute; */
    /* width: 112px; */
    height: 29px;
    left: 663px;
    top: 1538px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
/* icon/maintenance */

.maintenance {
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1008px;
    top: 1242px;
}
/* we maintain */

.text_maintain {
    /* position: absolute; */
    /* width: 162px; */
    height: 29px;
    left: 1052px;
    top: 1538px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

body {
    image-rendering: url("../image/maintenance.svg");
}

/* one-stop for your elevator needs */

.text_one {
    position: absolute;
    width: 458px;
    height: 29px;
    left: 490px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 90px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* one step closer to success */

.text_step {
    position: absolute;
    width: 667px;
    height: 53px;
    left: 386px;
    top: 70px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

.row {
    width: 100%;
    text-align: center;
}
.col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    padding: 18% 0;
    font-size: 30px;
}

.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.mt-10 {
    margin-top: 10px !important;
}

/* SECTION 3////////////////////////////////////////////////////////////////////// */

/* 2022 SECUREBOARDS SERIES */

.text_secure {
    position: absolute;
    width: 342px;
    height: 29px;
    left: 71px;
    top: 1800px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;
}

/* the perfection in security */

.text_perfection {
    position: absolute;
    width: 515px;
    height: 42px;
    left: 71px;
    top: 1833px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;
}

.text_descript {
    position: absolute;
    width: 586px;
    height: 217px;
    left: 75px;
    top: 1899px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */
    text-align: justify;

    color: #000000;
}

/* bkg_2 1 */

.secure {
    position: absolute;
    width: 615px;
    height: 411px;
    left: 748px;
    top: 1751px;
    background: url(bkg_2.jpg);
}
.grid-container2 {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto;
    padding: 0% 0;
    font-size: 30px;
}
/* section 4///////////////////////////////////////////////////////////////////// */

/* Rectangle 3 */

.rectangle3 {
    position: absolute;
    width: 100%;
    height: 853px;
    left: 0px;
    top: 2242px;

    /* Sublight Engines/Orange */

    background: #ff7630;
}

/* need more for your fleet of elevators */
.text_need {
    position: absolute;
    width: 518px;
    height: 29px;
    left: 460px;
    top: 35px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}

/* all our products are made with heart and soul */

.text_product {
    position: absolute;
    width: 659px;
    height: 53px;
    left: 390px;
    top: 70px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
}
.grid-container5 {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    padding: 25% 0;
    font-size: 0px;
}
/* Rectangle 5 */

.rectangle5 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 65.27%;
    bottom: -4.58%;

    background: #ffffff;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center; /* adjusted */
}
/* product_card */
.card1 {
    /* position: absolute; */
    width: 100%;
    height: 262px;
    left: 50%;
    top: 100%;

    filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.25));
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* safety */
.text_safety {
    position: absolute;
    /* left: 6.27%;
    right: 6.27%; */
    top: 35%;
    bottom: 21.37%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Gray */

    color: #383838;
}

/* Lorem ipsum dolor sit amet, consectetur */

.text_safetyprg {
    position: absolute;
    /* left: 20%;
    right: 50%; */
    top: 60%;
    bottom: 7.33%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */

    text-align: center;

    /* Sublight Engines/Gray */

    color: #383838;
}

/* separator5 */
.separator5 {
    /* position: absolute; */
    left: 42.35%;
    right: 47.04%;
    top: 30%;
    /* bottom: -20.71%; */

    /* background: #ffffff; */
    /* transform: rotate(-45deg); */
    /* Line 1 */

    position: absolute;
    /* left: 0%; */
    /* right: 0%; */
    /* top: 50%; */
    bottom: 50%;
    color: #ffffff;

    /* border: 1px solid #ffffff; */
}

/* ////////////////////////////////section 5 /////////////////////////////////////// */
/* stay in touch with our customer service */

.text_stay {
    position: absolute;
    width: 549px;
    height: 29px;
    left: 445px;
    top: 3199px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;
}

/* feel free to contact us for any questions */
.text_feel {
    position: absolute;
    width: 568px;
    height: 106px;
    left: 435px;
    top: 3232px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;

    /* Sublight Engines/Orange */

    color: #ff7630;
}
/* form/input field */
.form_input {
    position: absolute;
    width: 498px;
    height: 70px;
    left: 471px;
    top: 3440px;
}
/* Name * */
.text_name {
    /* position: absolute; */
    width: 36px;
    left: 2px;
    top: 0%;
    bottom: 82.86%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    text-transform: uppercase;

    /* Sublight Engines/Black */

    color: #292929;
}
/* Rectangle 7 */
.rectangle7 {
    /* position: absolute; */
    left: 0%;
    right: 0%;
    top: 25.71%;
    bottom: 0%;

    /* Sublight Engines/Light Gray */

    border: 1px solid #a0a0a0;
    box-sizing: border-box;
}
/* Enter your full name */

.text_fullname {
    position: absolute;
    width: 134px;
    left: 23px;
    top: 30%;
    bottom: 22.86%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Sublight Engines/Light Gray */

    color: #a0a0a0;
}
/* Enter your full name */

.text_select {
    position: absolute;
    width: 42px;
    left: 23px;
    top: 30%;
    bottom: 22.86%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    /* Sublight Engines/Gray */

    color: #383838;
}
.col-md-6 {
    width: 49%;
}

.poulet div {
    width: 100%;
    text-align: left;
}

.poulet div input {
    width: 95%;
}

.poulet {
    display: flex;
    align-items: flex-start;
}
.container-input {
    position: relative;
    text-align: left;
    color: white;
}
